extends layout

block content
	each account, i in users
		if account.username == user
			div.container
				div.row
					div.col-sm-6.col-md-4.col-md-offset-4
						h1.text-center Account Details
							p.
							.jumbotron
								h6.text-center
										img(src='http://3.bp.blogspot.com/_JBHfzEovWs8/S8X3wH9vbTI/AAAAAAAAAPM/O8r2xpeeur0/s1600/batman-for-facebook.jpg', width='150', height='150')
										p.
											Username: #{account.username}
										p.
											Firstname: #{account.firstname}
										p.
											Email: #{account.email}
						form(name="updateUser",method="post",action="/account/#{account.username}/edit")
							br
							input(type='text', name='username', class='form-control', placeholder='Edit Username',required, autofocus)
							br
							input(type='text', name='firstname', class='form-control', placeholder='Edit Firstname',required, autofocus)
							br
							input(type='text', name='email', class='form-control', placeholder='Edit Email',required, autofocus)
							br
							button(class='btn btn-lg btn-primary btn-block', type='submit') Update