extends layout

block content
	body(style='background-color:lightgrey;')
		div.container
			div.row
				div.col-sm-6.col-md-4.col-md-offset-4
					h1.text-center Account Details
						form(name="updateUser",method="post",action="/")
							br
							input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
							br
							input(type='text', name='username', class='form-control', placeholder='First Name',required, autofocus)
							br
							input(type='text', name='username', class='form-control', placeholder='Email Address',required, autofocus)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Update All Info