extends layout

block content
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				.panel.panel-default
					.panel-heading Search for stuff
					.panel-body
						form( method="post", action="/comics/:id/edit/addpanel")
							.checkbox.text-center
							label
							input(type='radio', value='Humor', checked)
							|     Humor
							label
							input(type='radio', value='Fantasy')
							|     Fantasy
							input(type="text", name="string", placeholder='search terms')
							input(type="submit", value="Search!")