extends layout

block content
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				.panel.panel-default
					.panel-heading Search for comics
					.panel-body
						form( method="post", action="/search")
							.checkbox.text-center
							label
							input(type='radio', value='Humor', checked)
							|     Humor  
							br
							label
							input(type='radio', value='Fantasy')
							|     Fantasy  
							br
							input(type='text', name='string')
							br
							button(class='btn btn-lg btn-primary btn-block', type='submit') Search

	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Search for comics
					div.signup-wall
						form#formSignup(name="signup",method="post",action="/signup")
							.checkbox.text-center
							label
							input(type='radio', value='Humor', checked)
							|     Humor  
							br
							label
							input(type='radio', value='Fantasy')
							|     Fantasy  
							input(type='text', name='string')
							button(class='btn btn-lg btn-primary btn-block', type='submit') Register
							span.clearfix
