extends layout

block content
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				.panel.panel-default
					.panel-heading h1 Search for comics
					.panel-body
						form( method="post", action="/search")
							input(type='text', name='string')
							br
							.checkbox.text-center
							label
							input(type='radio', value='Humor')
							|     Humor  
							br
							label
							input(type='radio', value='Fantasy')
							|     Fantasy  
							br
							label
							input(type='radio', value='All', checked)
							|     All Categories  
							br
							button(class='btn btn-lg btn-primary btn-block', type='submit') Search
