extends layout

block content
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				.panel.panel-default
					.panel-heading Search for comics
					.panel-body
						form( method="post", action="/search")
							h1 Categories
							.checkbox.text-center
							label
							input(type='radio', value='Humor', checked)
							|     Humor
							label
							input(type='radio', value='Fantasy')
							|     Fantasy
							h1 Search terms
							input(type="text", name="string")
							input(type="submit", value="Search!")