extends layout

block content
    .container
      .row
        .col-md-3
          a.thumbnail(href='http://i.imgur.com/EZMrgDu.png')
            img(src='http://i.imgur.com/EZMrgDu.png')
        .col-md-3
          a.thumbnail(href='http://i.imgur.com/wM0iFb1.png')
            img(src='http://i.imgur.com/wM0iFb1.png')

      .row
        .col-md-3
          a.thumbnail(href='http://i.imgur.com/8M75zqb.png')
            img(src='http://i.imgur.com/8M75zqb.png')
        .col-md-3
          a.thumbnail(href='http://i.imgur.com/o3FDFbi.png')
            img(src='http://i.imgur.com/o3FDFbi.png')

      .row		
        h1 Comments!

      .row
        form#formAddComment(name="addcomment",method="post",action="/addcomment")
          input#inputcomment(type="text", placeholder="comment", name="comment", style='width:400px')
          button#btnSubmit(type="submit") submit
        br
      ul
        each co, i in comment
          li= co.comment
          