extends layout

block content
    .container
      .row
        .col-md-3
          each comic, i in comics
            if comic._id == comicID
              .col-md-4.col-sm-6.col-xs-12
                .panel.panel-default
                  .panel-heading panels please
                  .panel-body <a href="#{comic.comicSource}"><img src="#{comic.panels[0].source}"></img></a>

          .row
              .col-md-3
                  each comic, i in comics
                      if comic._id == comicID
                          each panel, i in comic.panels
                              #{comic.panels[panel].source}